@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

// ### Primary
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$text-color: white;

// ### Neutral
$grayish-blue: rgb(145, 148, 161);
$verydark-blue: #252b46;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
}

img {
    width: 100%;
    display: block;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    position: relative;
}